/* zocial */
    [class*="zocial-"]:before {
      font-family: 'zocial', sans-serif;
      display: inline-block;
      text-shadow: 3px 3px 3px #999;
      width: 2em;
        color: #e74e3c;
        }

a:hover [class*="zocial-"]:before {
  color: #3d85c6;
}

div#social a {
  margin: 0 1em 0 0;
}

div#social a:last-of-type {
  margin: 0;
}

div#social {
  line-height: 2em;
}


/* Box-sizing border-box */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'Biryani', sans-serif;
  margin: 2em;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0 auto 1em auto;
  width: 100%;
}

header, nav, footer, section, article, div {
  display: block;
  width: 100%;
  margin: 0 auto;
}

article, footer {
	max-width: 50em;
	margin: 0 auto;
    border-bottom: 1px solid #ddd;
}

img {
	max-width: 100%;
	border-radius: 5%;
}

figcaption {
	color: #e74e3c;
	text-align: right;
    padding: 1em 0;
}

figure {
  margin: 1em 0 1em 0;
}



/*
 *
 * Header
 *
 */

.header {
	max-width: 50em;
	margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  display: flex;
  flex-wrap: wrap;
}


.header__title {
  font-weight: 700;
  font-size: 2.5em;
  margin: 0.5em 0.25em;
  color: #2a457a;
  text-transform: uppercase;
}

.title {
	color: #2A457A;
}

.content-block{
  border-left-color: #e74e3c;
  border-left-style: solid;
  border-left-width: 6px;
  padding-left: 15px;
}


svg#logo {
  fill: #e74e3c;
  height: 6vw;
  margin: 0 auto 0.5em auto;
  width: 6vw;
  min-height: 48px;
  min-width: 48px;
}

/* The fill obliterates the lettering on my svg */
/* redesign so that lettering changes from blue to white rather than background from orange to blue */
/*header:hover svg#logo path{
  fill: #3d85c6;
}*/

header:hover svg#logo g{
  fill: #fff;
}

header:hover svg#logo{
  -webkit-filter: drop-shadow(3px 3px 3px #3d85c6);
  filter: drop-shadow(3px 3px 3px #3d85c6);
}


